.forms{
    display: flex;
    justify-content: center;

    background:linear-gradient(89deg, rgba(248,116,254,1) 0%, rgba(248,116,254,1) 8%, rgba(143,170,254,1) 82%, rgba(113,217,255,1) 100%);
}

.forms form{
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 25px 50px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    text-align: center;

}
.forms form input{
    border-radius: 16px;
}

.forms h2{
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
}